.not-found-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: centre;
    height: 100vh;
    color: white;
    background-color: #303231;
}